Repository dmu-most/vblog-client, pull requests merged in 2023-11, with the labels that each got.

#59 fix: 헤더 스타일 수정 및 로그인 페이지 아이디 저장 기능 구현
  src/api/detail/vblogInfo.ts
  src/components/header/CategoryList.tsx
  src/components/header/MyInfoDropDown.tsx
  src/components/header/RightHeader.tsx
  src/components/my-info/MyRecentItem.tsx
  src/components/my-info/MyRecentList.tsx
  src/components/sign/LoginForm.tsx
  src/store/useRememberIdStore.ts
Labels: 🐞 BugFix, 🔥 Feature, 🎨 HTML&CSS

#60 feat: intropage 생성 및 bannerTag css 수정
  package-lock.json
  package.json
  src/Router.tsx
  src/components/common/BannerTag.tsx
  src/components/detail/ContentComonent.tsx
  src/components/detail/ReviewComponent.tsx
  src/components/intro/HomeButton.tsx
  src/components/intro/LeftAniComponent.tsx
  src/components/intro/RightAniComponent.tsx
  src/components/intro/jsons/intro01Ani.json
  src/components/intro/jsons/intro02Ani.json
  src/components/intro/jsons/intro03Ani.json
  src/components/intro/jsons/intro04Ani.json
  src/components/main/BannerComponent.tsx
  src/data/dummyData.ts
  src/pages/CategoryPage.tsx
  src/pages/DetailPage.tsx
  src/pages/IntroPage.tsx
  src/pages/MainPage.tsx
Labels: 🔥 Feature, 🎨 HTML&CSS

#62 api: bannertag 조회 api 서버 연결
  src/api/main/vblogList.ts
  src/components/Category/CategotyCardComponent.tsx
  src/components/common/BannerTag.tsx
  src/components/common/Hashtag.tsx
  src/components/detail/CommandComponent.tsx
  src/components/main/BannerComponent.tsx
  src/components/main/CardComponent.tsx
  src/data/dummyData.ts
  src/layout/Main.tsx
  src/layout/index.tsx
  src/pages/DetailPage.tsx
  src/pages/MainPage.tsx
  src/styles/GlobalStyles.ts
  src/types/main/list.ts
Labels: 📬 API, 🎨 HTML&CSS

#63 api: 스크랩 모달 폴더 조회, 새 폴더 만들기 api 서버 연결
  src/api/my-info/content.ts
  src/components/common/BannerTag.tsx
  src/components/detail/LikeDisLikeButton.tsx
  src/components/detail/modal/ScrapModal.tsx
Labels: 📬 API, 🔥 Feature, 🎨 HTML&CSS

#64 api: 스크랩 저장 api 서버 연결 , 좋아요/싫어요 상태 수정
  src/api/my-info/content.ts
  src/components/detail/ContentComonent.tsx
  src/components/detail/LikeDisLikeButton.tsx
  src/components/detail/modal/ScrapModal.tsx
  src/store/useLikeDislikeStore.ts
Labels: 📬 API, 🔥 Feature

#66 fix: scrap api 수정
  src/api/main/vblogList.ts
  src/api/my-info/content.ts
  src/api/post/post.ts
  src/components/common/BannerTag.tsx
  src/components/detail/modal/ScrapModal.tsx
  src/components/main/BannerComponent.tsx
Labels: 🐞 BugFix

#67 feat: 로그인 시 카테고리 설정 안되어있을 경우, 마이페이지로 이동
  src/api/auth/login.ts
  src/api/my-info/member.ts
  src/components/common/AlertModal.tsx
  src/components/my-info/InterestList.tsx
  src/components/my-info/MyReviewList.tsx
  src/components/my-info/MyScrapList.tsx
  src/components/my-info/ProfileDescription.tsx
  src/components/my-info/UserProfileUpdate.tsx
  src/components/sign/LoginForm.tsx
  src/pages/MyPage.tsx
  src/store/useMemberStore.ts
  src/types/auth/login.ts
Labels: 📬 API, 🐞 BugFix, 🔥 Feature, 🎨 HTML&CSS

#68 feat: 마이페이지 스크랩 API 연결 및 구현
  src/api/my-info/content.ts
  src/components/main/BannerComponent.tsx
  src/components/my-info/MyScrapItem.tsx
  src/components/my-info/MyScrapList.tsx
  src/components/my-info/ScrapFolderList.tsx
  src/pages/DetailPage.tsx
  src/types/my-info/content.ts
Labels: 📬 API, 🐞 BugFix, 🔥 Feature
